<?php
$messages = $element->getMessages();
?>
<div class="form-group<?php echo !empty($messages) ? ' has-error': ''; ?>">
    <?php
    echo $this->formLabel($element);
    echo $this->formElement($element);
    echo $this->formElementErrors()
        ->setMessageOpenFormat('<span%s>')
        ->setMessageSeparatorString('</span><span class="help-block>')
        ->setMessageCloseString('</span>')
        ->render($element, array('class' => 'help-block'));
    ?>
</div>