<?php
if ($this->pageCount):
    ?>
    <div class="text-center">
        <ul class="pagination">
            <!-- Previous page link -->
            <?php
            if (isset($this->previous)):
                $options['query']['page'] = $this->previous;
            ?>
                <li>
                    <a href="<?php echo $this->url($route, $params, $options); ?>">
                        <<
                    </a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="#">
                        <<
                    </a>
                </li>
            <?php endif; ?>
            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page): ?>
                <?php
                if ($page != $this->current):
                    $options['query']['page'] = $page;
                ?>
                    <li>
                        <a href="<?php echo $this->url($route, $params, $options); ?>">
                            <?php echo $page; ?>
                        </a>
                    </li>
                <?php else: ?>
                    <li class="active">
                        <a href="#"><?php echo $page; ?></a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Next page link -->
            <?php
            if (isset($this->next)):
                $options['query']['page'] = $this->next;
            ?>
                <li>
                    <a href="<?php echo $this->url($route, $params, $options); ?>">
                        >>
                    </a>
                </li>
                <?php else:?>
                <li class="disabled">
                    <a href="#">
                        >>
                    </a>
                </li>
            <?php endif; ?>
        </ul>
    </div>
<?php endif; ?>